:root {
	--color-one: #990303;
	--color-two: #9c9999;
	--color-three: #71706e;
	--color-four: #292323;
	--color-five: white;
}

@keyframes floatUp {
	from {
		opacity: 0;
		transform: rotateX(-90deg);
		transform: translate(0,100%);
	}
	to {
		opacity: 1;
		transform: rotateX(0deg);
		transform: translate(0,0);
	}
}

@keyframes floatDown {
	from {
		opacity: 0;
		transform: rotateX(90deg);
		transform: translate(0,-100%);
	}
	to {
		opacity: 1;
		transform: rotateX(0deg);
		transform: translate(0,0);
	}
}

body {
	background-color: var(--color-two);
}

.header {
	background-color: var(--color-three);
	padding: 10px;
	border-radius: 5px;
	animation-name: floatDown;
	animation-duration: 2s;
}

.title {
	color: var(--color-one);
	font-family: "Allerta Stencil";
	font-size: 40px;
	font-style: normal;
	font-variant: normal;
	font-weight: 100; 
}

.link {
	color: white;
	background-color: var(--color-two);
	padding: 2px;
	border-radius: 3px;
	transition: 0.3s;
	line-height: 30px;
}

.link:hover {
	background-color: var(--color-three);
}

.link:active {
	background-color: var(--color-four);
}

.selected {
	background-color: var(--color-four) !important;
}

.body {
	position: absolute;
	animation-name: floatUp;
	animation-duration: 2s;
}
