@import url('https://fonts.googleapis.com/css?family=Open+Sans|Stardos+Stencil&display=swap');
@import url('http://trac.webkit.org/browser/trunk/Source/WebCore/css/html.css');

:root {
	--color-one: #990303;
	--color-two: #9c9999;
	--color-three: #71706e;
	--color-four: #292323;
	--color-five: white;
}

@keyframes floatUp {
	from {
		opacity: 0;
		transform: rotateX(-45deg) translate(0,100%);
	}
	to {
		opacity: 1;
		transform: rotateX(0deg) translate(0,0);
	}
}

@keyframes floatDown {
	from {
		opacity: 0;
		transform: rotateX(45deg) translate(0,-100%);
	}
	to {
		opacity: 1;
		transform: rotateX(0deg) rotateY(0deg) translate(0,0);
	}
}

body {
	background-color: var(--color-two);
	animation-duration: 2s;
}

.header {
	background-color: var(--color-three);
	padding: 10px;
	border-radius: 5px;
	animation-name: floatDown;
	animation-duration: 2s;
}

.title {
	color: var(--color-one);
  font-family: 'Stardos Stencil', cursive;
	font-size: 40px;
	font-style: normal;
	font-variant: normal;
	font-weight: 100; 
}

.link {
	color: white;
	background-color: var(--color-two);
	padding: 2px;
	border-radius: 3px;
	transition: 0.3s;
	line-height: 30px;
	text-decoration: none;
	font-size: 17px;
  user-select: none;
  /*font-family: Arial, Helvetica, sans-serif;*/
  font-family: 'Open Sans', sans-serif;
}

.link:hover {
	background-color: var(--color-three);
}

.link:active {
	background-color: var(--color-four);
}

.selected {
	background-color: var(--color-four) !important;
  pointer-events: none;
}

.body {
	position: absolute;
	animation-name: floatUp; 
	animation-duration: 2s;
	border-radius: 5px;
}

.p {
  font-family: 'Stardos Stencil', cursive;
  /*font-size: 9999999px;*/
}

.quote {
  background-color: var(--color-three);
  border-radius: 3px;

}

.quote > p {
  font-family: 'Stardos Stencil', cursive;
}

.quote.author {
  color: var(--color-two);
  font-size: 10px;
}

.quote.right {
  right: 0;
}

.quote div::before {

}