@import url('https://fonts.googleapis.com/css?family=Open+Sans|Stardos+Stencil&display=swap');
@import url('http://trac.webkit.org/browser/trunk/Source/WebCore/css/html.css');

:root {
	--color-one: #990303;
	--color-two: #9c9999;
	--color-three: #71706e;
	--color-four: #292323;
	--color-five: white;
}

@keyframes floatUp {
	from {
		opacity: 0;
		transform: rotateX(-45deg) translate(0,100%);
	}
	to {
		opacity: 1;
		transform: rotateX(0deg) translate(0,0);
	}
}

@keyframes floatDown {
	from {
		opacity: 0;
		transform: rotateX(45deg) translate(0,-100%);
	}
	to {
		opacity: 1;
		transform: rotateX(0deg) rotateY(0deg) translate(0,0);
	}
}

@keyframes wheeeeee {
  from {
    background-position: 0;
  }
  to {
    background-position-y: 100%;
  }
}
body {
	background-color: var(--color-two);
  /*background-image: url(https://previews.123rf.com/images/lazinina/lazinina1610/lazinina161000089/63710397-seamless-vector-camouflage-pattern-print-repeating-background-cloth-design-wallpaper-.jpg);*/
  background-repeat: repeat;
  background-size: 200px;
  animation-name:  wheeeeee;

	animation-duration: 2s;
}

.header {
	background-color: var(--color-three);
	padding: 10px;
	border-radius: 5px;
	animation-name: floatDown;
	animation-duration: 2s;
}

.title {
	color: var(--color-one);
  font-family: 'Stardos Stencil', cursive;
	font-size: 40px;
	font-style: normal;
	font-variant: normal;
	font-weight: 100; 
}

/*
div.link {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
*/
a.link {
  white-space: nowrap;
	color: white;
	background-color: var(--color-two);
	padding: 2px;
	border-radius: 3px;
	transition: 0.3s;
	line-height: 30px;
	text-decoration: none;
	font-size: 17px;
  user-select: none;
  /*font-family: Arial, Helvetica, sans-serif;*/
  font-family: 'Open Sans', sans-serif;
}

.link:hover {
	background-color: var(--color-three);
}

.link:active {
	background-color: var(--color-four);
}

.selected {
	background-color: var(--color-four) !important;
  pointer-events: none;
}

.body {
	position: absolute;
	animation-name: floatUp; 
	animation-duration: 2s;
	border-radius: 5px;
	width: 95%;
}

.p {
  font-family: 'Stardos Stencil', cursive;
  /*font-size: 9999999px;*/
}

.quote {
  background-color: var(--color-three);
  border-radius: 3px;

}

.quote > p {
  font-family: 'Stardos Stencil', cursive;
}

.quote.author {
  color: var(--color-two);
  font-size: 10px;
}

.quote.right {
  right: 0;
}

 div.quote:before {
   background-color: green;
   width:10px;
   height: 10px;
}

blockquote {
  margin: 0 auto;
  padding: 1em;
  border-left: 5px solid var(--color-three);
  float: left;
}
blockquote:before {
  display: none;
}
blockquote:not(:first-of-type) {
  margin-top: .5em;
}
blockquote p {
  color: var(--color-four);
  opacity: 80%;
  font-size: 12pt;
  line-height: 1.4;
  font-family: 'PT Serif', Cambria, 'Hoefler Text', Utopia, 'Liberation Serif', 'Nimbus Roman No9 L Regular', Times, 'Times New Roman', serif;
}
blockquote footer {
  margin-top: .5em;
  padding: 0;
  color: var(--color-four);
  opacity: 70%;
  font-size: 12pt;
  text-align: left;
  font-style: italic;
}
blockquote footer:before {
  content: '— ';
}
blockquote:nth-of-type(even) {
  text-align: right;
  border-left: none;
  border-right: 5px solid #999;
}
blockquote:nth-of-type(even) footer {
  text-align: right;
}
blockquote:nth-of-type(even) footer:before {
  content: '';
}
blockquote:nth-of-type(even) footer:after {
  content: ' —';
}
div.image {
  float:left;
	padding: 5px;
	border-radius: 5px;
	background-color: var(--color-three);
	position: absolute;
	top: 0;
	left: 0;
	margin: 0;
	transition: all 1s;
	position: absolute;
  max-width: 200px;
}
div.image div {
    display: flex;
  justify-content: center;
}
img.image {
	max-width: 95%;
  transform: 1s;
}
div.image.open {
	/*
	margin-left: -50px;
	margin-top: -50px;
	*/
	top: 50%; left: 50%;
	transition: all 1s;
	position: absolute;
  animation-name: middle;
  animation-duration: 1s;
  transform: translate(-50%,-50%);
  min-width: 80%;
}
div.image.open img{
  width: 99%;
}
div.image p, h4 {
  font-family: 'Stardos Stencil', cursive;
  margin-left:5px;
}
@keyframes middle {
	from {
		transform: translate(0,0);
	}

	to {
		transform: translate(-50%, -50%);
	}
}

div.test {

